.navBar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #a7b2d7; */
}
.navBar-menu{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #49557e;
    cursor: pointer;
}
.navBar-right{
    background-color: white;
    width: 40%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #e3dbdb;
    display: flex;
    align-items: center;
}
.navBar-menu a:hover{
    color: rgb(152, 55, 55);
}
input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}
.link-decoration{
    text-decoration: none;
    color: #49557e;
    cursor: pointer;
}